<section class="skills-me-skills container">
  <div class="skills-container-swiper">
    <div class="skills-me-swiper">
      <ul id="swpr" class="skills-skills-list swiper-wrapper">
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">HTML/CSS</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">JavaScript</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">React</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">Node. js</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">React Native</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">Soft skills</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">HTML/CSS</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">JavaScript</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">React</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">Node. js</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">React Native</p>
        </li>
        <li class="skills-skills-item swiper-slide">
          <p class="skills-skills-text">Soft skills</p>
        </li>
      </ul>
    </div>
    <div class="swiper-button-wrap">
      <button
        type="button"
        class="skills-swiper-btn"
        aria-label="skills swiper button"
      >
        <svg class="skills-icon-swiper" width="28" height="28">
          <use href="./img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
