<section class="about-me-skills">
  <div class="container">
    <div class="swiper">
      <ul class="swiper-wrapper">
        <li class="swiper-slide">
          <div class="border-s">
            <h3 class="skill-main">HTML/CSS</h3>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="border-s">
            <h3 class="skill-main">JavaScript</h3>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="border-s">
            <h3 class="skill-main">React</h3>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="border-s">
            <h3 class="skill-main">Node.js</h3>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="border-s">
            <h3 class="skill-main">React Native</h3>
          </div>
        </li>
        <li class="swiper-slide">
          <div class="border-s">
            <h3 class="skill-main">Soft Skills</h3>
          </div>
        </li>
      </ul>
      <div class="swiper-pagination"></div>

      <div class="swiper-button-next"></div>

      <div class="swiper-scrollbar"></div>
    </div>
  </div>
</section>
