<section class="about-me container">
  <h2 class="visually-hidden about-me-title">About me</h2>
  <div class="about-me-preview">
    <div class="about-me-preview-descr">
      <p class="about-me-text">
        I work with people all over the world to create impressive and
        <span class="primary-accent-text">functional</span>
        <span class="secondary-accent-text">websites</span> that reflect each
        client's unique personality.
      </p>
    </div>
    <div class="about-me-preview-photo">
      <picture>
        <source
          srcset="
            ./img/about-me/developer-desktop@1x-min.jpg 1x,
            ./img/about-me/developer-desktop@2x-min.jpg 2x
          "
          media="(min-width: 1440px)"
        />
        <source
          srcset="
            ./img/about-me/developer-tablet@1x-min.jpg 1x,
            ./img/about-me/developer-tablet@2x-min.jpg 2x
          "
          media="(min-width: 768px)"
        />
        <source
          srcset="
            ./img/about-me/developer-mobile@1x-min.jpg 1x,
            ./img/about-me/developer-mobile@2x-min.jpg 2x
          "
        />
        <img
          src="./img/about-me/developer-desktop@1x-min.jpg"
          alt="Lloyd Jefferson"
        />
      </picture>
    </div>
  </div>

  <ul class="about-me-accord-list accordion-container">
    <li class="about-me-accord-item">
      <h3 class="about-me-btn">
        <button type="button" class="about-me-accord-trigger">
          about me
          <span class="about-me-accord-trigger-icon">
            <svg width="20" height="20" class="about-me-icon-arrow-down">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>
      </h3>

      <div class="about-me-accord-panel">
        <p class="about-me-accord-text about-me-accord-text-first">
          I am Lloyd Jefferson, a talented programmer with extensive expertise
          in software development. I have an understanding of different
          programming languages and technologies, always ready to improve my
          skills. I always follow the latest trends and look for unconventional,
          creative solutions to problems. I have a high level of analytical
          skills and am able to effectively solve even the most difficult tasks
          encountered on the way.
        </p>
        <p class="about-me-accord-text">
          Able to work both independently and in a team. I can effectively
          cooperate with colleagues, exchanging ideas and finding optimal
          solutions. Professional maturity allows you to calmly cope with
          challenges and stressful situations, while maintaining a high quality
          of work. <br />
          I am always looking for opportunities for self-improvement. I actively
          study new technologies and practices to stay abreast of the latest
          innovations. I have a strong understanding of various programming
          languages, frameworks and architectural concepts that allow me to
          create efficient and scalable software.
        </p>
      </div>
    </li>
    <li class="about-me-accord-item">
      <h3 class="about-me-btn">
        <button type="button" class="about-me-accord-trigger">
          role
          <span class="about-me-accord-trigger-icon">
            <svg width="20" height="20" class="about-me-icon-arrow-down">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="about-me-accord-panel about-me-role">
        <p class="about-me-accord-text">Frontend development</p>
        <p class="about-me-accord-text">HeadlessCMS,Wordpress</p>
        <p class="about-me-accord-text">Blender(enjoy)</p>
      </div>
    </li>
    <li class="about-me-accord-item">
      <h3 class="about-me-btn">
        <button type="button" class="about-me-accord-trigger">
          education
          <span class="about-me-accord-trigger-icon">
            <svg width="20" height="20" class="about-me-icon-arrow-down">
              <use href="./img/icons.svg#icon-arrow-down"></use>
            </svg>
          </span>
        </button>
      </h3>
      <div class="about-me-accord-panel about-me-education">
        <p class="about-me-accord-text">
          2018 - 2019 / Frontend Development Diploma, GoIT IT School, New York
        </p>
        <p class="about-me-accord-text">
          2019 - 2020 / Advanced Web Development Certificate, GoIT IT School,
          New York
        </p>
        <p class="about-me-accord-text">
          2020 - 2022 / Advanced Blender Animation Techniques, Udemy
        </p>
      </div>
    </li>
  </ul>
</section>
