<section class="about-me-skills">

 <div class="wrapper-skills">
      <div class="swiper-about">
        <ul class="list-my-skills swiper-wrapper">
          <li class="item-skill swiper-slide active">Html/Css</li>
          <li class="item-skill swiper-slide">JavaScript</li>
          <li class="item-skill swiper-slide">React</li>
          <li class="item-skill swiper-slide">Node. js</li>
          <li class="item-skill swiper-slide">React Native</li>
          <li class="item-skill swiper-slide">Soft skills</li>
        </ul>
      </div>
      <button type="button" class="btn-next-skill swiper-button-next">
        <svg class="icon-arrow-right">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
  </section>