<section class="covers js-observered">
  <div class="covers-container">
    <h2 class="covers-title visually-hidden">Covers</h2>
    <ul class="marquee">
      <li class="marquee-inner">
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project1-desktop-tablet.webp    1x,
                ./img/covers/project1-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project1-desktop-tablet.jpg    1x,
                ./img/covers/project1-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project1-mobile.webp    1x,
                ./img/covers/project1-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project1-mobile.jpg    1x,
                ./img/covers/project1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project1-desktop-tablet.jpg"
              alt="Project StarlightStudio"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project2-desktop-tablet.webp    1x,
                ./img/covers/project2-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project2-desktop-tablet.jpg    1x,
                ./img/covers/project2-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project2-mobile.webp    1x,
                ./img/covers/project2-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project2-mobile.jpg    1x,
                ./img/covers/project2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project2-desktop-tablet.jpg"
              alt="Project Energy.flow"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project3-desktop-tablet.webp    1x,
                ./img/covers/project3-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project3-desktop-tablet.jpg    1x,
                ./img/covers/project3-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project3-mobile.webp    1x,
                ./img/covers/project3-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project3-mobile.jpg    1x,
                ./img/covers/project3-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project3-desktop-tablet.jpg"
              alt="Project Fresh harvest box"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project4-desktop-tablet.webp    1x,
                ./img/covers/project4-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project4-desktop-tablet.jpg    1x,
                ./img/covers/project4-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project4-mobile.webp    1x,
                ./img/covers/project4-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project4-mobile.jpg    1x,
                ./img/covers/project4-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project4-desktop-tablet.jpg"
              alt="Project Chego"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project5-desktop-tablet.webp    1x,
                ./img/covers/project5-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project5-desktop-tablet.jpg    1x,
                ./img/covers/project5-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project5-mobile.webp    1x,
                ./img/covers/project5-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project5-mobile.jpg    1x,
                ./img/covers/project5-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project5-desktop-tablet.jpg"
              alt="Project Mimino"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project6-desktop-tablet.webp    1x,
                ./img/covers/project6-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project6-desktop-tablet.jpg    1x,
                ./img/covers/project6-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project6-mobile.webp    1x,
                ./img/covers/project6-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project6-mobile.jpg    1x,
                ./img/covers/project6-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project6-desktop-tablet.jpg"
              alt="Project Traditional Ukrainian artistry"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project7-desktop-tablet.webp    1x,
                ./img/covers/project7-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project7-desktop-tablet.jpg    1x,
                ./img/covers/project7-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project7-mobile.webp    1x,
                ./img/covers/project7-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project7-mobile.jpg    1x,
                ./img/covers/project7-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project7-desktop-tablet.jpg"
              alt="Project Green.harvest"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project8-desktop-tablet.webp    1x,
                ./img/covers/project8-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project8-desktop-tablet.jpg    1x,
                ./img/covers/project8-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project8-mobile.webp    1x,
                ./img/covers/project8-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project8-mobile.jpg    1x,
                ./img/covers/project8-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project8-desktop-tablet.jpg"
              alt="Project PowerPulse"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project9-desktop-tablet.webp    1x,
                ./img/covers/project9-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project9-desktop-tablet.jpg    1x,
                ./img/covers/project9-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project9-mobile.webp    1x,
                ./img/covers/project9-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project9-mobile.jpg    1x,
                ./img/covers/project9-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project9-desktop-tablet.jpg"
              alt="Project Wallet"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project10-desktop-tablet.webp    1x,
                ./img/covers/project10-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project10-desktop-tablet.jpg    1x,
                ./img/covers/project10-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project10-mobile.webp    1x,
                ./img/covers/project10-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project10-mobile.jpg    1x,
                ./img/covers/project10-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project10-desktop-tablet.jpg"
              alt="Project Englishexcellence"
              class="covers-img"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-inner">
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project4-desktop-tablet.webp    1x,
                ./img/covers/project4-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project4-desktop-tablet.jpg    1x,
                ./img/covers/project4-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project4-mobile.webp    1x,
                ./img/covers/project4-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project4-mobile.jpg    1x,
                ./img/covers/project4-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project4-desktop-tablet.jpg"
              alt="Project Chego"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project5-desktop-tablet.webp    1x,
                ./img/covers/project5-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project5-desktop-tablet.jpg    1x,
                ./img/covers/project5-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project5-mobile.webp    1x,
                ./img/covers/project5-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project5-mobile.jpg    1x,
                ./img/covers/project5-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project5-desktop-tablet.jpg"
              alt="Project Mimino"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project6-desktop-tablet.webp    1x,
                ./img/covers/project6-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project6-desktop-tablet.jpg    1x,
                ./img/covers/project6-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project6-mobile.webp    1x,
                ./img/covers/project6-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project6-mobile.jpg    1x,
                ./img/covers/project6-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project6-desktop-tablet.jpg"
              alt="Project Traditional Ukrainian artistry"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project7-desktop-tablet.webp    1x,
                ./img/covers/project7-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project7-desktop-tablet.jpg    1x,
                ./img/covers/project7-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project7-mobile.webp    1x,
                ./img/covers/project7-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project7-mobile.jpg    1x,
                ./img/covers/project7-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project7-desktop-tablet.jpg"
              alt="Project Green.harvest"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project1-desktop-tablet.webp    1x,
                ./img/covers/project1-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project1-desktop-tablet.jpg    1x,
                ./img/covers/project1-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project1-mobile.webp    1x,
                ./img/covers/project1-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project1-mobile.jpg    1x,
                ./img/covers/project1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project1-desktop-tablet.jpg"
              alt="Project StarlightStudio"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project2-desktop-tablet.webp    1x,
                ./img/covers/project2-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project2-desktop-tablet.jpg    1x,
                ./img/covers/project2-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project2-mobile.webp    1x,
                ./img/covers/project2-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project2-mobile.jpg    1x,
                ./img/covers/project2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project2-desktop-tablet.jpg"
              alt="Project Energy.flow"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project3-desktop-tablet.webp    1x,
                ./img/covers/project3-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project3-desktop-tablet.jpg    1x,
                ./img/covers/project3-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project3-mobile.webp    1x,
                ./img/covers/project3-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project3-mobile.jpg    1x,
                ./img/covers/project3-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project3-desktop-tablet.jpg"
              alt="Project Fresh harvest box"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project8-desktop-tablet.webp    1x,
                ./img/covers/project8-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project8-desktop-tablet.jpg    1x,
                ./img/covers/project8-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project8-mobile.webp    1x,
                ./img/covers/project8-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project8-mobile.jpg    1x,
                ./img/covers/project8-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project8-desktop-tablet.jpg"
              alt="Project PowerPulse"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project9-desktop-tablet.webp    1x,
                ./img/covers/project9-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project9-desktop-tablet.jpg    1x,
                ./img/covers/project9-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project9-mobile.webp    1x,
                ./img/covers/project9-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project9-mobile.jpg    1x,
                ./img/covers/project9-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project9-desktop-tablet.jpg"
              alt="Project Wallet"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project10-desktop-tablet.webp    1x,
                ./img/covers/project10-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project10-desktop-tablet.jpg    1x,
                ./img/covers/project10-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project10-mobile.webp    1x,
                ./img/covers/project10-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project10-mobile.jpg    1x,
                ./img/covers/project10-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project10-desktop-tablet.jpg"
              alt="Project Englishexcellence"
              class="covers-img"
            />
          </picture>
        </div>
      </li>
      <li class="marquee-inner">
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project8-desktop-tablet.webp    1x,
                ./img/covers/project8-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project8-desktop-tablet.jpg    1x,
                ./img/covers/project8-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project8-mobile.webp    1x,
                ./img/covers/project8-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project8-mobile.jpg    1x,
                ./img/covers/project8-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project8-desktop-tablet.jpg"
              alt="Project PowerPulse"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project9-desktop-tablet.webp    1x,
                ./img/covers/project9-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project9-desktop-tablet.jpg    1x,
                ./img/covers/project9-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project9-mobile.webp    1x,
                ./img/covers/project9-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project9-mobile.jpg    1x,
                ./img/covers/project9-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project9-desktop-tablet.jpg"
              alt="Project Wallet"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project10-desktop-tablet.webp    1x,
                ./img/covers/project10-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project10-desktop-tablet.jpg    1x,
                ./img/covers/project10-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project10-mobile.webp    1x,
                ./img/covers/project10-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project10-mobile.jpg    1x,
                ./img/covers/project10-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project10-desktop-tablet.jpg"
              alt="Project Englishexcellence"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project1-desktop-tablet.webp    1x,
                ./img/covers/project1-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project1-desktop-tablet.jpg    1x,
                ./img/covers/project1-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project1-mobile.webp    1x,
                ./img/covers/project1-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project1-mobile.jpg    1x,
                ./img/covers/project1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project1-desktop-tablet.jpg"
              alt="Project StarlightStudio"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project2-desktop-tablet.webp    1x,
                ./img/covers/project2-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project2-desktop-tablet.jpg    1x,
                ./img/covers/project2-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project2-mobile.webp    1x,
                ./img/covers/project2-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project2-mobile.jpg    1x,
                ./img/covers/project2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project2-desktop-tablet.jpg"
              alt="Project Energy.flow"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project3-desktop-tablet.webp    1x,
                ./img/covers/project3-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project3-desktop-tablet.jpg    1x,
                ./img/covers/project3-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project3-mobile.webp    1x,
                ./img/covers/project3-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project3-mobile.jpg    1x,
                ./img/covers/project3-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project3-desktop-tablet.jpg"
              alt="Project Fresh harvest box"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project4-desktop-tablet.webp    1x,
                ./img/covers/project4-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project4-desktop-tablet.jpg    1x,
                ./img/covers/project4-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project4-mobile.webp    1x,
                ./img/covers/project4-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project4-mobile.jpg    1x,
                ./img/covers/project4-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project4-desktop-tablet.jpg"
              alt="Project Chego"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project5-desktop-tablet.webp    1x,
                ./img/covers/project5-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project5-desktop-tablet.jpg    1x,
                ./img/covers/project5-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project5-mobile.webp    1x,
                ./img/covers/project5-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project5-mobile.jpg    1x,
                ./img/covers/project5-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project5-desktop-tablet.jpg"
              alt="Project Mimino"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project6-desktop-tablet.webp    1x,
                ./img/covers/project6-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project6-desktop-tablet.jpg    1x,
                ./img/covers/project6-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project6-mobile.webp    1x,
                ./img/covers/project6-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project6-mobile.jpg    1x,
                ./img/covers/project6-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project6-desktop-tablet.jpg"
              alt="Project Traditional Ukrainian artistry"
              class="covers-img"
            />
          </picture>
        </div>
        <div class="marquee-line">
          <picture>
            <source
              srcset="
                ./img/covers/project7-desktop-tablet.webp    1x,
                ./img/covers/project7-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project7-desktop-tablet.jpg    1x,
                ./img/covers/project7-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/covers/project7-mobile.webp    1x,
                ./img/covers/project7-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/covers/project7-mobile.jpg    1x,
                ./img/covers/project7-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <img
              src="./img/covers/project7-desktop-tablet.jpg"
              alt="Project Green.harvest"
              class="covers-img"
            />
          </picture>
        </div>
      </li>
    </ul>
  </div>
</section>
