<section class="section section-faq" id="FAQ">
  <div class="container">
    <h2 class="title-faq">FAQ</h2>
    <ul class="accordion-container">
      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            What programming languages ​​are most often used in your project?
            <span class="icon-wrapper">
              <svg class="icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text ac-text-1">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            What are the deadlines for the project?
            <span class="icon-wrapper">
              <svg class="icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            What payment methods do you accept?
            <span class="icon-wrapper">
              <svg class="icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            How can I contact you?
            <span class="icon-wrapper">
              <svg class="icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            In the field of web development, there are various technologies and
            programming languages. Typically, this includes a combination of
            frontend (client side) and backend (server side) languages.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger">
            Do you provide advice or support?
            <span class="icon-wrapper">
              <svg class="icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            The terms of project implementation depend to a large extent on a
            number of factors, such as the scope of the project, its complexity,
            and the availability of resources. Determining exact deadlines is a
            difficult task, and it usually occurs during the planning phase of
            the project.
          </p>
        </div>
      </li>

      <li class="ac">
        <h2 class="ac-header">
          <button type="button" class="ac-trigger btn-last-child">
            What does the process of developing a software product look like
            from idea to implementation?
            <span class="icon-wrapper">
              <svg class="icon" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-down"></use>
              </svg>
            </span>
          </button>
        </h2>
        <div class="ac-panel">
          <p class="ac-text">
            Payment through credit and debit cards such as Visa, MasterCard,
            specialized electronic payment systems such as PayPal, as well as
            payments in cryptocurrencies such as Bitcoin, Ethereum and others.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
