<header class="header">
  <div class="container header-container">
    <a href="./index.html" class="header-img-box">
      <picture>
        <img
          class="header-image"
          srcset="
            ./img/header/jefferson.png    1x,
            ./img/header/jefferson@2x.png 2x
          "
          src="./img/header/jefferson.png"
          alt="logo"
          width="80"
          height="80"
          loading="lazy"
          title="logo"
        />
      </picture>
      <div>
        <svg class="header-name-icon">
          <use href="./img/icons.svg#icon-jefferson"></use>
        </svg>
      </div>
    </a>

    <nav class="header-menu-box">
      <button class="header-menu-link" type="button" aria-label="Menu button">
        Menu
      </button>
      <div class="header-drop-down">
        <ul class="header-menu-list visually-hidden">
          <li class="header-menu-list-item">
            <a href="#about-me" class="header-list-item-link">About me</a>
          </li>
          <li class="header-menu-list-item">
            <a href="#benefits" class="header-list-item-link">Benefits</a>
          </li>
          <li class="header-menu-list-item">
            <a href="#projects" class="header-list-item-link">Projects</a>
          </li>
          <li class="header-menu-list-item">
            <a href="#faq" class="header-list-item-link">FAQ</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="header-order-btn-box">
      <a class="header-order-btn" href="#footer">Order the project</a>
    </div>

    <div class="header-burger-btn-box">
      <button
        class="header-burger-btn"
        type="button"
        aria-label="Mobile menu button"
      >
        <svg class="header-burger-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-burger-menu"></use>
        </svg>
      </button>
    </div>
  </div>

  <!-- mobile -->

  <div class="header-burger-backdrop">
    <div class="header-burger-menu">
      <button class="header-close-btn" type="button" aria-label="Close button">
        <svg class="header-close-icon" width="28" height="28">
          <use href="./img/icons.svg#icon-x"></use>
        </svg>
      </button>
      <ul class="header-burger-menu-list">
        <li class="header-burger-menu-list-item">
          <a href="#about-me" class="header-burger-list-item-link">About me</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#benefits" class="header-burger-list-item-link">Benefits</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#projects" class="header-burger-list-item-link">Projects</a>
        </li>
        <li class="header-menu-list-item">
          <a href="#faq" class="header-burger-list-item-link">FAQ</a>
        </li>
      </ul>
      <div class="header-burger-order-btn-box">
        <a class="header-burger-order-btn" href="#footer">Order the project</a>
      </div>
    </div>
  </div>
</header>
