<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="main-title">
        HELLO.<br />
        I'M FULLSTACK DEVELOPER<br />
        LLOYD JEFFERSON.
      </h1>
      <ul class="hero-social-list">
        <li class="hero-list-item">
          <a
            href="https://www.instagram.com/goitclub/ "
            class="hero-social-icon"
            >IG</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://www.facebook.com/goITclub/  "
            class="hero-social-icon"
            >FB</a
          >
        </li>
        <li class="hero-list-item">
          <a href="https://www.youtube.com/c/GoIT  " class="hero-social-icon"
            >YT</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://yelyzaveta-sokolova.github.io/CAT-Coding-and-Training/"
            class="hero-social-icon"
            >GH</a
          >
        </li>

        <div class="email">
          <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
        </div>
      </ul>
    </div>
  </div>
  <button
    class="btn-scroll-top is-btnshow is-btnshow-hide"
    aria-label="Button scroll top"
  >
    <svg class="btn-scroll-top-icon" width="45" height="45">
      <use href="/img/icons.svg#icon-arrow-up"></use>
    </svg>
  </button>
</section>
