<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="main-title">
        Hello.<br />
        I'm fullstack developer<br />
        Lloyd Jefferson.
      </h1>
      <ul class="hero-social-list">
        <li class="hero-list-item">
          <a
            href="https://www.instagram.com/goitclub/"
            class="hero-social-link"
            target="_blank"
            >IG</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://www.facebook.com/goITclub/"
            class="hero-social-link"
            target="_blank"
            >FB</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://www.youtube.com/c/GoIT"
            class="hero-social-link"
            target="_blank"
            >YT</a
          >
        </li>
        <li class="hero-list-item">
          <a
            href="https://yelyzaveta-sokolova.github.io/CAT-Coding-and-Training/"
            class="hero-social-link"
            target="_blank"
            >GH</a
          >
        </li>

        <li>
          <div class="email">
            <a href="mailto:lloydjefferson@gmail.com" target="_blank"
              >lloydjefferson@gmail.com</a
            >
          </div>
        </li>
      </ul>
    </div>
  </div>
  <button
    class="btn-scroll-top is-btnshow is-btnshow-hide"
    aria-label="Button scroll top"
  >
    <svg class="btn-scroll-top-icon" width="45" height="45" fill="currentColor">
      <use href="./img/icons.svg#icon-arrow-up"></use>
    </svg>
  </button>
</section>
