<div class="modal-overlay"></div>

<div class="modal-window">
  <button class="close-modal-btn" type="button">
    <svg class="close-modal-icon">
      <use href="./img/icons.svg#icon-x"></use>
    </svg>
  </button>
  <div class="modal-info">
    <h2 class="modal-heading">Thank you for your interest in cooperation!</h2>
    <p class="modal-text">
      The manager will contact you shortly to discuss further details and
      opportunities for cooperation. Please stay in touch.
    </p>
  </div>
</div>
