<section class="projects container">
  <h2 class="projects-title">Projects</h2>

  <div class="projects-swiper swiper">
    <ul class="swiper-wrapper">
      <li class="project-swiper-slide swiper-slide">
        <div class="swiper-slide-part-1">
          <ul class="projects-list">
            <li class="projects-item">#react</li>
            <li class="projects-item">#js</li>
            <li class="projects-item">#node js</li>
            <li class="projects-item">#git</li>
          </ul>

          <p class="projects-description">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <div class="projects-btn">
            <a class="projects-btn-link" href="https://github.com/yelyzaveta-sokolova/CAT-Coding-and-Training" target="_blank">See project</a>
          </div>
        </div>
        <div class="swiper-slide-part-2">
          <picture>
            <source
              srcset="
                ./img/projects/p-project1-desktop-tablet.jpg    1x,
                ./img/projects/p-project1-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project1-desktop-tablet.webp    1x,
                ./img/projects/p-project1-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/projects/p-project1-mobile.jpg    1x,
                ./img/projects/p-project1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project1-mobile.webp    1x,
                ./img/projects/p-project1-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="projects-swiper-img"
              src="./img/projects/p-project1-desktop-tablet.jpg"
              alt="read journey"
            />
          </picture>
        </div>
      </li>
      <li class="project-swiper-slide swiper-slide">
        <div class="swiper-slide-part-1">
          <ul class="projects-list">
            <li class="projects-item">#react</li>
            <li class="projects-item">#js</li>
            <li class="projects-item">#node js</li>
            <li class="projects-item">#git</li>
          </ul>

          <p class="projects-description">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <div class="projects-btn">
            <a class="projects-btn-link" href="https://github.com/yelyzaveta-sokolova/CAT-Coding-and-Training" target="_blank">See project</a>
          </div>
        </div>
        <div class="swiper-slide-part-2">
          <picture>
            <source
              srcset="
                ./img/projects/p-project2-desktop-table.jpg     1x,
                ./img/projects/p-project2-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project2-desktop-table.webp     1x,
                ./img/projects/p-project2-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/projects/p-project2-mobile.jpg    1x,
                ./img/projects/p-project2-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project2-mobile.webp    1x,
                ./img/projects/p-project2-mobile_2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="projects-swiper-img"
              src="./img/projects/p-project2-desktop-table.jpg"
              alt="read journey"
            />
          </picture>
        </div>
      </li>
      <li class="project-swiper-slide swiper-slide">
        <div class="swiper-slide-part-1">
          <ul class="projects-list">
            <li class="projects-item">#react</li>
            <li class="projects-item">#js</li>
            <li class="projects-item">#node js</li>
            <li class="projects-item">#git</li>
          </ul>

          <p class="projects-description">
            Programming Across Borders: Ideas, Technologies, Innovations
          </p>
          <div class="projects-btn">
            <a class="projects-btn-link" href="https://github.com/yelyzaveta-sokolova/CAT-Coding-and-Training" target="_blank">See project</a>
          </div>
        </div>
        <div class="swiper-slide-part-2">
          <picture>
            <source
              srcset="
                ./img/projects/p-project3-desktop-tablet.jpg    1x,
                ./img/projects/p-project3-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project3-desktop-tablet.webp    1x,
                ./img/projects/p-project3-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/projects/p-project3-mobile.jpg    1x,
                ./img/projects/p-project3-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project3-mobile.webp    1x,
                ./img/projects/p-project3-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="projects-swiper-img"
              src="./img/projects/p-project3-desktop-tablet.jpg"
              alt="read journey"
            />
          </picture>
        </div>
      </li>
    </ul>

    <div class="projects-arrows">
      <div class="projects-prev swiper-button-prev" id="prev">
        <svg class="projects-icon-prev">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
      <div class="projects-next swiper-button-next" id="next">
        <svg class="projects-icon">
          <use href="../img/icons.svg#icon-arrow-right"></use>
        </svg>
      </div>
    </div>
  </div>
</section>
