<section class="projects container">
  <h2 class="projects-title">Projects</h2>

  <div class="projects-swiper">
    <ul class="projects-swiper-wrapper">
        <li class="project-swiper-slide">
            <div class="swiper-slide-part-1">
                <ul class="projects-list">
                    <li class="projects-item">#react</li>
                    <li class="projects-item">#js</li>
                    <li class="projects-item">#node js</li>
                   <li class="projects-item">#git</li>
                </ul>

                <p class="projects-description">
                   Programming Across Borders: Ideas, Technologies, Innovations
                </p>
                <div class="projects-btn">
                    <a class="projects-btn-link" href="" target="_blank">See project</a>
                </div>
           </div>
           <div class="swiper-slide-part-2">
               <picture>
            <source
              srcset="
                ./img/projects/p-project1-desktop-tablet.jpg    1x,
                ./img/projects/p-project1-desktop-tablet@2x.jpg 2x
              "
              media="(min-width: 768px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project1-desktop-tablet.webp    1x,
                ./img/projects/p-project1-desktop-tablet@2x.webp 2x
              "
              media="(min-width: 768px)"
              type="image/webp"
            />
            <source
              srcset="
                ./img/projects/p-project1-mobile.jpg    1x,
                ./img/projects/p-project1-mobile@2x.jpg 2x
              "
              media="(max-width: 767px)"
              type="image/jpeg"
            />
            <source
              srcset="
                ./img/projects/p-project1-mobile.webp    1x,
                ./img/projects/p-project1-mobile@2x.webp 2x
              "
              media="(max-width: 767px)"
              type="image/webp"
            />
            <img
              class="projects-swiper-img"
              src="./img/projects/p-project1-desktop-tablet.jpg"
              alt="read journey"
            />
          </picture>
           </div>
        </li>
    </ul>
  </div>
    
    <div class="projects-arrows">
        <div class="swiper-button-prev">
            
            <svg class="btn-left-arrow" width="24" height="24">
               <use href="./img/icons.svg#icon-arrow-leftt"></use>
            </svg>
            
        </div>
        <div class="swiper-button-next">
            
            <svg class="btn-right-arrow" width="24" height="24">
              <use href="./img/icons.svg#icon-arrow-right"></use>
            </svg>
        </div>
    </div>



  

    
  </div>
</section>
