<section class="review">
    <div class="container">
        <h2 class="review-title-general">Reviews</h2>
        <div class="swiper">
            <ul class="js-review-cards swiper-wrapper"></ul>
            <!-- If we need navigation buttons -->
            <div class="review-buttons">
                <div class="swiper-button-prev" id="prev">
                    <svg class="review-icon">
                        <use href="./img/icons.svg#icon-arrow-left"></use>
                    </svg>
                </div>
                <div class="swiper-button-next" id="next">
                    <svg class="review-icon">
                        <use href="./img/icons.svg#icon-arrow-right"></use>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</section>