.skills-me-skills{
    padding-top: 16px;
    padding-bottom: 32px;
}

.skills-container-swiper {
    display: flex;
    justify-content: space-between;
}

.skills-me-swiper {
    height: 130px;
    display: flex;
    align-items: center;
    width: 260px;
    margin: 0;
    overflow: hidden;
}

.skills-skills-list {
    display: flex;
}

.skills-skills-item {
    width: 130px;
    height: 130px;
    border: rgba(250, 250, 250, 0.2);
    display: flex;
    justify-content: center;

    align-items: center;
    border-radius: 50%;
    text-align: center;
}

.skills-skills-item.swiper-slide-active {
    background-color: #ed3b44;
}

.skills-skills-text {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    line-height: 1,5;
}

.swiper-button-wrap {
    width: 28px;
    display: flex;
    align-items: center;
}

.skills-swiper-btn {
    display: block !important;
    width: 28px;
    height: 28px;
    border: none;
    background-color: transparent;
}

.skills-icon-swiper {
    stroke: rgba(250, 250, 250, 0.2);

}

@media screen and (min-width: 768px) {
.skills-me-skills {
        padding-top: 32px;
        padding-bottom: 48px;
    }
    .skills-me-swiper {
        height: 200px;
        width: 600px;
    }

    .skills-skills-item.swiper-slide {
        height: 200px;
        width: 200px;
    }
        .skills-icon-swiper {
            width: 40px;
            height: 40px;
        }

    .skills-skills-text {
        font-size: 20px;
        padding-top: 88px;
            padding-bottom: 88px;
    }

    .swiper-button-wrap {
        width: 40px;
        margin-left: 64px;
    }

    .skills-swiper-btn {
        width: 60px;
        height: 60px;
    }
}


@media screen and (min-width: 1440px) {
.skills-me-skills {
        padding-top: 48px;
        padding-bottom: 82px;
    }
    .skills-me-swiper {
        width: 1232px;
    }

    .skills-container-swiper {
        margin-bottom: 164px;
        padding-right: 32px;
        padding-left: 32px;
    }
}
