.benefits-section {
    padding: 32px 0 32px 0;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.benefits-title {
margin-bottom: 32px;
width: 284px;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
text-transform: uppercase;
color: rgba(250, 250, 250, 0.4);
}

.benefits-list {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
}

.benefits-item {
    background-color: #242527;
    border-radius: 20px;
    padding: 24px;
    width: 344px;
    height: 270px;
}

.icon-benefits {
    margin-bottom: 64px;
}

.benefits-item-title {
font-weight: 600;
font-size: 20px;
line-height: 1.5;
letter-spacing: -0.02em;
    margin-bottom: 8px;
    color: #FAFAFA;
}

.benefits-item-content {
    width: 296px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: -0.02em;
color: rgba(250, 250, 250, 0.6);
}

.benefits-btn-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    color: #FAFAFA;
    width: 187px;
    height: 55px;
    background: none;
    margin-top: 32px;
font-weight: 500;
font-size: 16px;
letter-spacing: -0.02em;
}

@media screen and (min-width: 768px) {
    .benefits-item {
        min-width: 344px;
        min-height: 270px;
    }

    .benefits-item-content {
        max-width: 296px;
    }

    .benefits-btn-link {
        margin-top: 64px;
    }
}

@media screen and (min-width: 1440px) {
    .benefits-section {
    display: flex;
    justify-content: space-between;
    align-items: start; 
    }


.benefits-item {
    width: 332px;
}

.benefits-item-content {
    max-width: 284px;
}

.benefits-list-cont {width: 50%;
    height: 100vh; 
    float: left;}

}