html {
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    font-family: "Inter Tight", sans-serif;
    background: #1c1d20;
    color: #fafafa;
}

.container {
    min-width: 320px;
        max-width: 375px;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
}

.section-title {
    font-weight: 600;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        text-transform: uppercase;
        color: rgba(250, 250, 250, 0.4);
}

.accent-color {
    color: #ed3b44;
}

.main-text {
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: -0.02em;
        color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}