@font-face {
    font-display: swap;
    font-family: 'Inter Tight';
    font-style: normal;
    font-weight: 400;

    src: url('../fonts/inter-tight-v7-latin-regular.woff2') format('woff2'),
    url('../fonts/inter-tight-v7-latin-regular.woff') format('woff');
}

@font-face {
        font-display: swap;
        font-family: 'Inter Tight';
        font-style: normal;
        font-weight: 500;

        src: url('../fonts/inter-tight-v7-latin-500.woff2'),
        url('../fonts/inter-tight-v7-latin-500.woff') format('woff');
    }

@font-face {
            font-display: swap;
            font-family: 'Inter Tight';
            font-style: normal;
            font-weight: 600;
            src: url('../fonts/inter-tight-v7-latin-600.woff2') format('woff2'),
                url('../fonts/inter-tight-v7-latin-600.woff') format('woff');
            }