.footer-container {
  padding-top: 48px;
  padding-bottom: 32px;
  background-image: url('../img/footer/bg-mobile-min.png');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: right 32px;
}

.footer-title {
  display: flex;
  align-items: center;
  row-gap: 8px;
  flex-wrap: wrap;
  max-width: 281px;
  font-size: 40px;
  letter-spacing: -1.2px;
  text-transform: uppercase;
  margin-bottom: 63px;
}

.footer-title .accent-color {
  margin: 0 8px;
}

.footer-title::before {
  content: '';
  width: 44px;
  height: 44px;
  background-image: url('../img/footer/photo-mobile-min.png');
  background-size: 100%;
  margin-right: 8px;
}

@media (min-resolution: 192dpi) {
  .footer-title::before {
    background-image: url('../img/footer/photo-mobile@2x-min.png');
  }
  .footer-container {
    background-image: url('../img/footer/bg-mobile@2x-min.png');
  }
}

.footer-form {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
  margin-bottom: 64px;
}

.footer-form-label {
  position: relative;
  margin-bottom: 16px;
}

.footer-form-input {
  padding: 0 0 20px 0;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  width: 100%;
  height: 44px;
  color: rgba(250, 250, 250, 0.6);
  line-height: 1.5;
  letter-spacing: -0.32px;
  outline: transparent;
  transition: color 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41),
    border-bottom 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.footer-form-input:focus {
  color: #fafafa;
  border-bottom: 1px solid #fafafa !important;
}

.footer-form-input::placeholder {
  color: inherit;
}

.footer-form-input-comment {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.js-message {
  position: absolute;
  margin-top: 4px;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.28px;
  transition: color 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.is-hidden {
  display: none;
}

.footer-form-btn {
  padding: 0;
  margin-top: 16px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #ed3b44;
  color: #fafafa;
  letter-spacing: -0.32px;
  transition: background-color 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
  cursor: pointer;
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  background-color: #e0373f;
}

.footer-contacts {
  display: flex;
  column-gap: 4px;
}

.footer-contacts-item-link {
  display: block;
  padding: 10px 10px;
  border-radius: 60px;
  border: 1px solid rgba(250, 250, 250, 0.2);
  color: #fafafa;
  font-size: 14px;
  line-height: 1;
  letter-spacing: -0.28px;
  transition: border-color 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.footer-contacts-item-link:hover,
.footer-contacts-item-link:focus {
  border-color: #fafafa;
}

@media screen and (min-width: 768px) {
  .footer-container {
    padding-top: 92px;
    padding-bottom: 169px;
    background-image: url('../img/footer/bg-tablet-min.png');
    background-position: right 4px;
  }

  .footer-title {
    max-width: 532px;
    row-gap: 10px;
    font-size: 64px;
    letter-spacing: -1.92px;
    margin-bottom: 18px;
  }

  .footer-title::before {
    width: 70px;
    height: 70px;
    margin-right: 20px;
    background-image: url('../img/footer/photo-desktop-tablet-min.png');
  }

  .footer-form {
    flex-direction: row;
    column-gap: 32px;
    align-items: center;
    margin-bottom: 18px;
  }

  .footer-form-label {
    margin-bottom: 0px;
  }

  .footer-form-input {
    width: 245px;
  }

  .footer-form-btn {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }

  .footer-contacts {
    column-gap: 8px;
  }

  .footer-contacts-item-link {
    padding: 18px 32px;
    font-size: 16px;
  }
}

@media (min-width: 768px) and (min-resolution: 192dpi) {
  .footer-container {
    background-image: url('../img/footer/bg-tablet@2x-min.png');
  }
  .footer-title::before {
    background-image: url('../img/footer/photo-desktop-tablet@2x-min.png');
  }
}

@media screen and (min-width: 1440px) {
  .footer-container {
    padding-top: 126px;
    background-image: url('../img/footer/bg-desktop-min.jpg');
    background-position: right 38px;
  }

  .footer-form-btn {
    margin-left: 54px;
  }
}

@media (min-width: 1440px) and (min-resolution: 192dpi) {
  .footer-container {
    background-image: url('../img/footer/bg-desktop@2x-min.png');
  }
}
