/* Основні стилі для header */
.header {
  position: absolute; /* Змінено на absolute */
  top: 0;
  left: 0;
  width: 100%;
  background-color: transparent; /* Прозорий фон */
  /* padding: 20px 0; */
  padding-top: 32px;
  padding-bottom: 32px;
  z-index: 1000;
}

html {
  scroll-behavior: smooth; /* Плавний скрол */
}

/* Додаткові стилі */
.hdr-order-btn:hover {
  background-color: #d0323c;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.header-logo img {
  max-width: 100px;
  margin-right: 8px;
}

.jefferson {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.05em;
  color: #fafafa;
}

/* Стилі для кнопок меню та інших елементів шапки */
.menu-btn,
.burger-btn {
  background: none;
  border: none;
  color: #fafafa;
  font-size: 16px;
  cursor: pointer;
}

.menu-btn {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  letter-spacing: -0.02em;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #fafafa;
  background: none;
  border: none;
}

.burger-btn-svg {
  fill: #fafafa;
}

.hdr-order-btn {
  background-color: #ed3b44;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  transition: 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.hdr-order-btn:hover {
  background-color: #d0323c;
}

/* Мобільне меню */
.mobile-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(
    28,
    29,
    32,
    0.9
  ); /* Залишити кольоровий фон з прозорістю, якщо потрібно */
  z-index: 999;
  overflow-y: auto;
  padding-top: 60px;
  background-size: cover; /* Адаптує зображення до розміру контейнера */
  background-position: center; /* Центрує зображення */
}

/* Стандартне зображення */
@media (max-resolution: 1dppx) {
  .mobile-menu {
    background-image: url('/img/mobile-menu/bg-mobile@1x-min.png');
  }
}

/* Високоякісне зображення для Retina дисплеїв */
@media (min-resolution: 2dppx) {
  .mobile-menu {
    background-image: url('/img/mobile-menu/bg-mobile@2x-min.png');
  }
}

.mobile-menu.is-open {
  display: block;
}

.mobile-menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.mobile-menu {
  opacity: 0;
  transition: 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.mobile-menu.is-open {
  opacity: 1;
}

.mobile-menu-item {
  margin-bottom: 20px;
  text-align: center;
}

.mobile-menu-link {
  font-size: 18px;
  font-weight: 500;
  text-decoration: none;
  color: #fafafa;
}

.order-btn-menu {
  display: block;
  background-color: #ed3b44;
  color: #fafafa;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  margin: 20px auto;
  width: 80%;
}

.order-btn-menu:hover {
  background-color: #d0323c;
}

/* Кнопка закриття мобільного меню */
.menu-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;
  background: none;
  border: none;
  color: #fafafa;
  cursor: pointer;
}

/* Десктопне меню */
.desktop-menu {
  display: none;
}

.desktop-menu.is-open {
  display: block;
  position: absolute;
  top: 60px;
  right: 0;
  background-color: rgba(28, 29, 32, 0.9);
  padding: 20px;
}

.desktop-menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.desktop-menu-item {
  margin-bottom: 15px;
}

.desktop-menu-link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  color: #fafafa;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: static;
    background-color: transparent;
  }

  .desktop-menu-list {
    display: flex;
    gap: 20px;
  }

  .desktop-menu-item {
    margin-bottom: 0;
  }
}
