/* Mobile-first */
.modal-window {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(250, 250, 250, 0.1);
    background: #1c1d20;
    border-radius: 20px;
    padding: 64px 32px;
    width: 100%;
    max-width: 343px;
    max-height: 276px;
    z-index: 1001;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.modal-window.show {
    opacity: 1;
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.34, 0.78, 0.68, 0.41);
}

.modal-overlay.show {
    opacity: 1;
}

.close-modal-btn {
    margin: 0 auto;
    padding: 0;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    color: aliceblue;
    background-color: inherit;
    border: none;
    cursor: pointer;
}

.close-modal-icon {
    width: 22px;
    height: 22px;
}



.modal-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0;
}

.modal-heading {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: #fafafa;
}

.modal-text {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: -0.02em;
    text-align: center;
    color: rgba(250, 250, 250, 0.6);
}

/* Tablet: від 768px */
@media screen and (min-width: 768px) {
    .modal-window {
        padding: 64px;
        max-width: 492px;
        max-height: 246px;
    }

    .close-modal-icon {
        width: 24px;
        height: 24px;
    }

    .modal-heading {
        font-size: 20px;
    }

    .modal-text {
        font-size: 16px;
    }
}